.bg-color {
    background-color: rgb(3, 3, 34);
}

.bg1_color {
    background-color: rgb(19, 19, 35);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background: #fff !important;
}

header .navbar {
    box-shadow: 0px 0px 10px gray;
}

.nav-link {
    color: rgb(255, 253, 253);
    font-weight: 500;
}

.nav-link:hover {
    color: gray;
}

.form {
    width: 300px;
    margin-right: 20px;
    position: relative;
}

.search {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(3, 3, 34);
    color: #fff;
    border: 1px solid gray;
    padding: 6px 26px;
}